.dark-theme {
  --main-heading:#0092cd;
  --second-heading:red;
  --paragraph-color:#fff;
  --btn-bg-color:#0092cd;
  --btn-text-color:#111b20;
  --bg-color:#111b20;
}

.light-theme {
  --main-heading:#808080;
  --second-heading:green;
  --paragraph-color:#111b20;
  /* --paragraph-color:#808080; */
  --btn-bg-color:#111b20;
  --btn-text-color:#fff;
  --bg-color:#fff;
}


body {
  scroll-behavior: smooth;
  background-color: var(--bg-color) !important;
}

h2 {
  color: var(--main-heading)
}
p {
   color: var(--paragraph-color);
}

div{
  background-color: var(--bg-color);
}

li{
  color: var(--paragraph-color);
}

svg {
  color: var(--paragraph-color);
  
}
